{% extends "base.html" %}
{% block content %}
<h1>Prueba técnica para Cornershop</h1>
<p>Esta es la pruba técnica desarrollada por Juan Jose Reyes Vilchis, enlaces en los siguientes links:</p>
<p><a href="https://www.linkedin.com/in/juanreyesvilchis/">LinkedIn</a> | <a href="https://github.com/JackCloudman">GitHub</a> | <a href="https://blog.jackcloudman.com/">Blog personal</a></p>
<br>
<blockquote class="blockquote text-center bg-light">
    <p class="mb-0">Todo parece imposible hasta que se hace</p><br>
    <footer class="blockquote-footer">Nelson Mandela</footer>
  </blockquote>
<p></p>
{% endblock %}